<div class="page-header">
	<h3>
 		Welcome
	</h3>
		<% @country_list.each_slice(3) do |country_batch| %>
				<div class="row">
					<div class="span12">
						<% country_batch.each do  |country| %>
							<div class="span3">
								<div class="country-block">
									<a href=<%="country/#{country['alpha2Code']}" %>>
										<ul class="country">
											<li><%= "#{country['name']}" %></li>	
											<li><%= "#{country['capital']}" %></li>	
											<li><%= "#{country['region']}" %></li>	
											<li><%= "#{country['subregion']}"%></li>
											<li><%= "#{country['currencies'][0]}" %></li>	
											<li><%= "#{country['language']}" %></li>
										</ul>
									</a>
								</div>
							</div>
						<% end %>
					</div>
				</div>
		<% end %>
	<p>
	</p>
</div>



 
	  

 
