<h6>
Result list for 
<%= "Region #{params["region_name"]}"  if params["region_name"] %>
<%= "Currency #{params["currency_code"]}"  if params["currency_code"] %>
<%= "Language #{params["language_code"]}"  if params["language_code"] %>
<%= "search"  if params["query"] %>
</h6>
<ul class="nav nav-tabs nav-stacked country-list">		
	<% @result_list.each_with_index do |country, index| %>
 		<li data-name=<%="#{country.countryName}"%>  data-population=<%= "#{country.population}"%> data-country-code = <%= "#{country.countryCode}"%> data-lat = <%= "#{country.lat}"%>  data-lng = <%= "#{country.lng}"%>%>
	 		<a href="#">	
				<%= "#{country.countryName}" %>
	 		</a>
 		</li> 
	<% end %>
</ul>