


<div class="row">
	<div class="span12 single-country">
		 <div class="hero-unit">
		   	<h1 class="country-name"><%= @country_information["name"]%></h1>
				<div class="row">
					<div class="span12">
						<div class="span7">
							<div id="map-canvas">	

							</div>
						</div>
						<div class="span5">		
					    <p>capital :<%= @country_information["capital"] %> </p>	
					  	<p>
					  		region :
					  		<a href=<%= @region + @country_information["region"] %>>
					  			<%= @country_information["region"] %>
					  		</a> 
					  	</p>
					  	<!--  @TODO  change the gsub simply 2 times need to reconver find alternative way-->
					  	<p>
					  		subregion: 
						  	<a href=<%= (@sub_region + @country_information["subregion"].gsub!(' ', '%20')).strip %> >
						  		<%= @country_information["subregion"].gsub!('%20', ' ') %>
						  	</a> 
					  	</p>
					  	<p>population: <%= @country_information["population"] %></p> 
					  	<p>
					  		calling_code :
					  		<% @country_information["callingCodes"].each do |code| %>
									<a href=<%= @calling_code + code.to_s %>> <%= code %> </a>
					  		<% end %>
					  	</p>
							<p>
								Currencies :
								<% @country_information["currencies"].each do |currency| %>
							  	<a href=<%= @currency + currency.to_s %>>
							  		 <%= currency %>
							  	</a>
								<% end %>
							</p>
							<p>
								languages :
								<% @country_information["languages"].each do |language| %>
							  	<a href=<%= @lang + language.to_s %>>
							  	  <%= language %>
							  	</a>
								<% end %>
							</p>
					  	<p>countrycode: <%= @country_information["alpha2Code"] %></p>
					  	<p>latlong: 	<%= @country_information["latlng"][0] %><%=	@country_information["latlng"][1]%> 
					  	</p>
					   </p>
						</div>
					</div>
				</div>
		 </div>
	</div>
</div>
<!-- <div class="row">
	<div class="span12">
		<div id="map-canvas"></div>
	</div>
</div> -->
  
<% @image_list["images"].each_slice(4)  do |image_batch|%>
	<div class="row">
		<div class="span12">
			<% image_batch.each do |image| %>
				<div class="span3 country-people-img-div">
					<img class="img-polaroid" src=<%= image["display_sizes"][0]["uri"] %> alt=<%= image["caption"] %>>
				</div>
			<% end %>
		</div>
	</div>
<% end %>


<!-- 
information about the country 

{"name"=>"Algeria", "capital"=>"Algiers", "altSpellings"=>["DZ", "Dzayer", "Algérie"], "relevance"=>"0", "region"=>"Africa", "subregion"=>"Northern Africa", "translations"=>{"de"=>"Algerien", "es"=>"Argelia", "fr"=>"Algérie", "ja"=>"アルジェリア", "it"=>"Algeria"}, "population"=>38700000, "latlng"=>[28.0, 3.0], "demonym"=>"Algerian", "area"=>2381741.0, "gini"=>35.3, "timezones"=>["UTC+01:00"], "borders"=>["TUN", "LBY", "NER", "ESH", "MRT", "MLI", "MAR"], "nativeName"=>"الجزائر", "callingCodes"=>["213"], "topLevelDomain"=>[".dz"], "alpha2Code"=>"DZ", "alpha3Code"=>"DZA", "currencies"=>["DZD"], "languages"=>["ar"]}
 -->