<div class="row">
	<div class="span12">
		 <div class="hero-unit">
		   <h1><%= @country_information["name"]%></h1>
		    <p>capital :<%= @country_information["capital"] %> </p>	
		  	<p>
		  		region :
		  		<a href=<%= @region + @country_information["region"] %>>
		  			<%= @country_information["region"] %>
		  		</a> 
		  	</p>
		  	<p>
		  		subregion: 
			  	<a href=<%= @sub_region + @country_information["subregion"] %> >
			  		<%= @country_information["subregion"] %>
			  	</a> 
		  	</p>
		  	<p>population: <%= @country_information["population"] %></p> 
		  	<p>
		  		calling_code :
		  		<% @country_information["callingCodes"].each do |code| %>
						<a href=<%= @calling_code + code.to_s %>> <%= code %> </a>
		  		<% end %>
		  	</p>
				<p>
					Currencies :
					<% @country_information["currencies"].each do |currency| %>
				  	<a href=<%= @currency + currency.to_s %>>
				  		 <%= currency %>
				  	</a>
					<% end %>
				</p>
				<p>
					languages :
					<% @country_information["languages"].each do |language| %>
				  	<a href=<%= @lang + language.to_s %>>
				  	  <%= language %>
				  	</a>
					<% end %>
				</p>

		  	<p>countrycode: <%= @country_information["alpha2Code"] %></p>
		  	<p>latlong: 	<%= @country_information["latlng"][0] %><%=	@country_information["latlng"][1]%> 
		  	</p>
		   </p>
		 </div>
		 <div id="map_canvas" width="100">	
		 </div>

	</div>
</div>

<script>
    // function initialize() {
    // 	var lat = <%=  @country_information["latlng"][0] %>
    // 	var long = <%=  @country_information["latlng"][1] %>
    //   var latlong = new google.maps.LatLng(lat, long);
    //   var myOptions = {
    //     zoom: 8,
    //     center: latlong,
    //     mapTypeId: google.maps.MapTypeId.ROADMAP
    //   }
    //   var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    // }

    // function loadScript() {
    //   var script = document.createElement("script");
    //   script.type = "text/javascript";
    //   script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
    //   document.body.appendChild(script);
    // }

    // window.onload = loadScript;


</script>


<!-- 
information about the country 

{"name"=>"Algeria", "capital"=>"Algiers", "altSpellings"=>["DZ", "Dzayer", "Algérie"], "relevance"=>"0", "region"=>"Africa", "subregion"=>"Northern Africa", "translations"=>{"de"=>"Algerien", "es"=>"Argelia", "fr"=>"Algérie", "ja"=>"アルジェリア", "it"=>"Algeria"}, "population"=>38700000, "latlng"=>[28.0, 3.0], "demonym"=>"Algerian", "area"=>2381741.0, "gini"=>35.3, "timezones"=>["UTC+01:00"], "borders"=>["TUN", "LBY", "NER", "ESH", "MRT", "MLI", "MAR"], "nativeName"=>"الجزائر", "callingCodes"=>["213"], "topLevelDomain"=>[".dz"], "alpha2Code"=>"DZ", "alpha3Code"=>"DZA", "currencies"=>["DZD"], "languages"=>["ar"]}
 -->